body{
	background: #F3F3F3

}


header{
width: 100%;
height: 200px;
background: #F3F3F3;
}


/********MENU DE NAVEGACION******/

/*ESTILOS GENERALES*/

nav{
	position: relative;
	width: auto;
	background: #75263C;
	z-index: 99;
  	display: block;
}


nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	background: #75263C;
	width: auto;


}

nav li {
	line-height: 4em;
	position: relative;
	width: auto;

}

.menu ul {
	position: absolute;
	
}

nav a {
	text-decoration: none;
	color: #ddd;
	display: block;
	padding: 0 2.45em;
	transition: .4s;
	border: 0.5px solid #000;
}

nav a:hover{
	background: #E80C2A;
}


/*PRIMER NIVEL*/

.menu{
	background: #75263C;
	display: table;
	text-align: center;
	border: 1px solid #000;

}

.menu > li {
	float: left;

}


/*SEGUNDO NIVEL*/

nav li li {
	background: #75263C;
	max-height: 0;
	transition:  all .5s;
	overflow: hidden;
	width: 107%;

}

nav li:hover > ul > li {
	max-height: 500px;
	overflow: visible;
}

.menu > li > ul {
	top: 100%;
	width: auto;

}


.second{
	margin-left: 7%;
}

.third{
	margin-left: 15%;
}
.four{
	margin-left: 15%;
}
.five{
	margin-right: 12%;
}
.six{
	margin-left: 10%;
}
.seven{
	margin-left: 20%;
}
/*TERCER NIVEL*/

.menu ul ul {
	left: 100%;
	top: 0;
}


/*SLIDER STYLES*/
.slider{
	height: 400px;
}
/*END SLIDER STYLES*/


/*Presentation Styles*/

.item-container{
	width: 100%;
	height: 500px;
	background: #F3F3F3;
	text-align: center;
}
.unit-title{
	display: block;
	position: relative;
	top: 100px;
	width: 100%;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;

}
.separator1{
	max-width: 50px;
	border-width: 2px;
	border-color: #000;
}
.info{
	display: block;
	position: relative;
	top: 150px;
	color: #000;
	margin-right: 100px;
	margin-left: 100px;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	font-family: 'Titillium Web', sans-serif;

}
/*END PRESENTATION STYLES*/

/*ITEM STYLES*/

.selection-container{
	width: auto;
	height: 500px;
}
.selection-container ul > li {
	display: inline-block;
	list-style: none;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 2%;
	}

.image-block{
	text-align: center;
}
.image-block :hover{
	background: #75263C;
	transition: all 4 second;
	color: #fff;
}

.image-block img{
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 150px;
	height: 150px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 5px solid #75263C;


}
.image-block  a {
	color: #000;
	text-decoration: none;
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
}
.image-block2  a {
	color: #000;
	text-decoration: none;
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
}

.selection-container2{
	width: auto;
	height: 400px;
	margin-top: -150px;
}
.selection-container2 ul > li {
	display: inline-block;
	list-style: none;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 2%;
	}

.image-block2{
	text-align: center;
}

.image-block2 img{
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 150px;
	height: 150px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 5px solid #75263C;
}

.image-block2 :hover{
	background: #75263C;
	transition: all 4 second;
	color: #fff;
}



/*QUOTE CONTAINER*/
.quote-container{
	position: relative;
	width: 100%;
	height: 400px;
	font-family: 'Bad Script', cursive;
	background: #F3F3F3;
}
.quote-container ul > li {
	list-style: none;

}
.alberto{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border-color: #fff;
	position: absolute;
	margin-left: 50px;
	margin-top: 50px;
	-webkit-box-shadow: 9px 50px 47px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 9px 50px 47px 1px rgba(0,0,0,0.29);
	box-shadow: 9px 50px 47px 1px rgba(0,0,0,0.29)

}

.quote{
	position: relative;
}

.text-quote{
	position: absolute;
	right: 150px;
	margin-top: 60px;
	width: 600px;
	height: 200px;
	display: block;
	color: #989898;
	font-size: 28px;
	text-align: justify;
}
.text-quote > h4{
	position: absolute;
	left: 20px;
	font-size: 15px;
	font-family: 'Titillium Web', sans-serif;
	margin-top: -10px;
}

.footer{
	width: auto;
	height: 200px;
	background: #75263C;
}













