body{
	background: #F3F3F3

}


header{
width: 100%;
height: 200px;
background: #F3F3F3;
}


/********MENU DE NAVEGACION******/

/*ESTILOS GENERALES*/

nav{
	position: relative;
	width: 100%;
	max-width: 100%;
	background: #75263C;
	z-index: 99;
  	display: block;
}


nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	background: #75263C;

}

nav li {
	line-height: 4em;
	position: relative;
}

.menu ul {
	position: absolute;
}

nav a {
	text-decoration: none;
	color: #ddd;
	display: block;
	padding: 0 2.45em;
	transition: .4s;
	border: 0.5px solid #000;
}

nav a:hover{
	background: #E80C2A;
}


/*PRIMER NIVEL*/

.menu{
	background: #75263C;
	display: table;
	text-align: center;
	border: 1px solid #000;

}

.menu > li {
	float: left;

}


/*SEGUNDO NIVEL*/

nav li li {
	background: #75263C;
	max-height: 0;
	transition:  all .5s;
	overflow: hidden;
	width: 107%;

}

nav li:hover > ul > li {
	max-height: 500px;
	overflow: visible;
}

.menu > li > ul {
	top: 100%;

}


.second{
	margin-left: 7%;
}

.third{
	margin-left: 15%;
}
.four{
	margin-left: 15%;
}
.five{
	margin-right: 12%;
}
.six{
	margin-left: 10%;
}
.seven{
	margin-left: 20%;
}
/*TERCER NIVEL*/

.menu ul ul {
	left: 100%;
	top: 0;
}


/*SLIDER STYLES*/
.slider{
	height: 400px;
}
/*END SLIDER STYLES*/

/*QUOTE STYLES */

.quote-container{
	width: 100%;
	height: 400px;
	background: #F3F3F3;
	font-family: 'Farsan', cursive;

}

.img-albert{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	position: absolute;
	left: 5%;
	margin-top: 50px;
	-webkit-box-shadow: 9px 50px 47px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 9px 50px 47px 1px rgba(0,0,0,0.29);
	box-shadow: 9px 50px 47px 1px rgba(0,0,0,0.29)

}

.text-quote{
	position: absolute;
	right: 150px;
	margin-top: 60px;
	width: 600px;
	height: 200px;
	display: block;
	color: #989898;
	font-size: 36px;
	text-align: justify;
}
.text-quote > h4{
	position: absolute;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
}
ul[data-liffect="slideLeft"] li {
    opacity: 0;
    position: relative;
    -webkit-animation: slideLeft 2000ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: slideLeft 2000ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: slideLeft 2000ms ease both;
    -o-animation-play-state: paused;
    animation: slideLeft 2000ms ease both;
    animation-play-state: paused;
    list-style: none;
}

ul[data-liffect="slideLeft"].play li {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes slideLeft {
    0% { opacity: 0; left: -30px; }
    100% { opacity: 1; left: 0; }
}

@-moz-keyframes slideLeft {
    0% { opacity: 0; left: -30px; }
    100% { opacity: 1; left: 0; }
}

@-o-keyframes slideLeft {
    0% { opacity: 0; left: -30px; }
    100% { opacity: 1; left: 0; }
}

@keyframes slideLeft {
    0% { opacity: 0; left: -30px; }
    100% { opacity: 1; left: 0; }
}

/*Presentation Styles*/

.item-container{
	width: 100%;
	height: 400px;
	background: #F3F3F3;
	text-align: center;


	
}
.unit-title{
	display: block;
	position: relative;
	top: 100px;
	width: 100%;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;

}
hr{
	max-width: 50px;
	border-width: 2px;
	border-color: #000;
}
.info{
	display: block;
	position: relative;
	top: 150px;
	color: #000;
	margin-right: 100px;
	margin-left: 100px;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	font-family: 'Titillium Web', sans-serif;

}
/*END PRESENTATION STYLES*/

/*ITEM STYLES*/

.selection-container{
	width: auto;
	height: 500px;
}
.selection-container ul > li {
	display: inline-block;
	list-style: none;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	}

.image-block{
	text-align: center;
}

.image-block img{
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 200px;
	padding: 30px;
	border-radius: 66px 66px 66px 66px;
	-moz-border-radius: 66px 66px 66px 66px;
	-webkit-border-radius: 66px 66px 66px 66px;
	border: 0px solid #000000;


}
.image-block  a {
	color: #000;
	text-decoration: none;
	font-size: 28px;
	font-family: 'Titillium Web', sans-serif;
}
.image-block2  a {
	color: #000;
	text-decoration: none;
	font-size: 28px;
	font-family: 'Titillium Web', sans-serif;
}

.selection-container2{
	width: auto;
	height: 500px;
}
.selection-container2 ul > li {
	display: inline-block;
	list-style: none;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top:-100px;
	}

.image-block2{
	text-align: center;
}

.image-block2 img{
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 200px;
	padding: 50px;
	border-radius: 66px 66px 66px 66px;
	-moz-border-radius: 66px 66px 66px 66px;
	-webkit-border-radius: 66px 66px 66px 66px;
	border: 0px solid #000000;
}









